
/* Selectors */
    .item, .selection-item, .history-item {
      width: 30px;
      height: 25px;
      border-radius: 20px;
    }
    
    .orange {
      background-color: rgb(218, 180, 103);
    }
    
    .blue {
      background-color: blue;
    }
    
    .yellow {
      background-color: rgb(223, 93, 173);
    }
    
    .green {
      background-color: green;
    }
    

    /*hints right/wrong*/
    .full {
      width: 15px;
      height: 15px;
      background-color: rgb(227, 221, 221);
      margin: 5px;

    }
    
  
    .half {
      width: 15px;
      height: 15px;
      background-color: purple;
      margin: 5px;
    }


    /* Mastermind Styles */
    body {
      background: #333;
    }
    
    .mastermind {
      font-family: "Alegreya Sans SC", Arial;
      min-height: 500px;
      padding: 30px;
      overflow: hidden;
      position: relative;
    }
    
    .mastermind-board {
      border-radius: 10px;
      width: 200px;
      margin: auto;
      padding: 5px 2px;
      background: #84b7e6;
      border: 10px solid #7e2424;
      box-shadow: 2px 2px 5px 10px rgba(49, 22, 119, 0.37);
      text-align: center;
    }
    
    .mastermind-board h3,
    .mastermind-board h5 {
      margin: 5px 0;
    }
    
    .mastermind-row {
      position: relative;
      padding: 3px;
    }
    
    .mastermind-row.current {
      background: #525863;
    }
    
    .marbles,
    .pegs {
      display: inline-block;
      vertical-align: middle;
    }
    
    .pegs.winning-marbles {
      border: 1px solid #555;
      border-radius: 10px;
    }
    
    .marble-crater {
      display: inline-block;
      width: 30px;
      padding: 5px 0;
      text-align: center;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid rgba(255, 255, 255, 0);
    }
    
    .marble-crater.selected {
      box-shadow: 0 0 6px 1px #666;
    }
    
    .marble {
      width: 20px;
      height: 20px;
      background: #0e9982;
      border: 1px solid #444;
      border-radius: 50%;
      margin: auto;
      vertical-align: middle;
    }
    
    .marble.empty {
      width: 15px;
      height: 15px;
    }
    
    .pegs {
      width: 20px;
    }
    
    .peg {
      display: block;
      float: left;
      width: 6px;
      height: 6px;
      border-radius: 25%;
      margin: 2px;
      background: #5C4A4A;
    }
    
    /*
    .peg.correct {
      background: #de0d0d;
    }
    

    .peg.misplaced {
      background: #fff;
    }
*/


    /* circles hints*/
    .marble-buttons {
      position: absolute;
      left: 100%;
      top: 25%;
      width: 100px;
      user-select: none;
      border-radius: 10px;
      background: #ac2424;
      border: 1px solid #aaa;
      box-shadow: 1px 1px 4px 1px rgba(122, 122, 122, .8);
      padding: 3px;
    }
    
    .marble-button {
      cursor: pointer;
      width: 20px;
      height: 20px;
      user-select: none;
      display: inline-block;
      margin: 3px;
    }
    
    .game-info {
      margin-left: 200px;
    }

    .choice{
      display:flex;
    }

    .item{
      flex: 1; 
      margin: 5px;
    }

    .selection{
      display:flex;
      flex-wrap:wrap;
    }

    .selection-item{
      flex-basis: calc(25% - 10px); 
      margin: 5px;
    }



    /*History item*/
    .hints {
      display: flex;
      flex-wrap: wrap;
    }
    
    .history-item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }
    
    .history-item {
      display: flex;
      align-items: center;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-bottom: 5px;
    } 

    .final-answer{
      width: 30px;
      height: 25px;
      border-radius: 20px;
    }
   


